<div class="email-header">
    <h1>Parabéns!!!</h1> 
    <h2>Você ganhou 2 meses de Globoplay grátis no evento da Golang SP!</h2>
</div>
<div class="email-body">
    <div class="coupon-container">
        <p class="coupon-label">Seu cupom</p>
        <div class="coupon-code"><strong>{{ .Data.Cupom }}</strong></div>
    </div>

    <h3>Como ativar:</h3>
    <ol>
        <li>Acesse <a href="https://globoplay.com/globorh" target="_blank">globoplay.com/globorh</a></li>
        <li>Preencha seus dados</li>
        <li>Informe o código abaixo no campo <i>“CUPOM”</i></li>
        <li>Divirta-se!</li>
    </ol>

    <h3>Regras de Utilização:</h3>
    <ul>
        <li>Seu Cupom poderá ser ativado até 20/12/2024;</li>
        <li>Cupom válido apenas para novas assinaturas. Se você já é assinante do Globoplay, não é possível usar os créditos deste cupom para pagamento das mensalidades;</li>
        <li>O cupom dará direito a uma assinatura Globoplay referente ao valor de R$ 24,90 pelo período de 2 meses, contados a partir da data de ativação;</li>
        <li>Para ter uma conta Globoplay é preciso ter mais de 18 anos;</li>
        <li><strong>Após o período promocional, o valor da assinatura do Globoplay de R$ 24,90, passará a ser cobrado automaticamente.</strong> Caso queira cancelar, basta acessar <a href="https://minhaconta.globo.com" target="_blank">https://minhaconta.globo.com</a></li>
    </ul>

    <p>*O código deve ser colado com os hifens</p>
</div>
