<div class="email-header">
    <h1>📅 Lembrete Final: Workshop de Golang para Iniciantes</h1>
</div>
<div class="email-body">
    <p>Oi, {{ .Data.Nome }}!</p>

    <p></p>

    <p>O <strong>Workshop de Golang para Iniciantes</strong> é amanhã! Estamos super animados para te ter conosco!</p>

    <p>Alguns detalhes importantes:</p>
    <ul>
        <li><strong>Horário:</strong> 19:00 às 22:00</li>
        <li><strong>Local:</strong> R. Jaceru, 225 - Vila Gertrudes, São Paulo - SP, 04705-000</li>
    </ul>

    <p>Não esqueça de trazer seu notebook e garantir que a linguagem Go está instalada. Qualquer dúvida, é só responder a este e-mail.</p>

    <p>Até breve!</p>
</div>
