<div class="email-header">
    <h1>📅 Lembrete: Workshop de Golang para Iniciantes</h1>
</div>
<div class="email-body">
    <p>Olá, {{ .Data.Nome }}!</p>

    <p></p>

    <p>Este é um lembrete de que o <strong>Workshop de Golang para Iniciantes</strong> está chegando! Estamos ansiosos para te ver no dia <strong>06 de agosto</strong>!</p>

    <ul>
        <li><strong>Formato:</strong> Presencial</li>
        <li><strong>Horário:</strong> 19:00 às 22:00</li>
        <li><strong>Local:</strong> R. Jaceru, 225 - Vila Gertrudes, São Paulo - SP, 04705-000</li>
    </ul>

    <p><strong>Não esqueça de levar:</strong></p>
    <ol>
        <li>Seu notebook</li>
        <li>Instalar a linguagem Go <a href="https://go.dev/" target="_blank">aqui</a></li>
        <li>Um editor de código (sugerimos o <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>)</li>
    </ol>

    <p>Se tiver alguma dúvida, é só responder a este e-mail.</p>

    <p><strong>Importante:</strong> Não se esqueça de acessar o <a href="http://aka.ms/WorkshopGolang" target="_blank">link de inscrição</a> para confirmar sua participação. Não compartilhe este link com outras pessoas.</p>

    <p>Estamos contando os dias para te ver!</p>
    <p>Até breve!</p>
</div>
