<div class="email-header">
    <h1>Agradecemos sua inscrição no Workshop de Go da Golang SP!</h1>
</div>
<div class="email-body">
    <p>Olá, {{ .Data.Nome }}.</p>

    <p>Que bom que você se inscreveu no nosso workshop de Go para iniciantes! Ficamos felizes em ver o seu interesse em aprender essa linguagem.</p>
    <p>Contudo, como as vagas eram limitadas, tivemos que fazer uma seleção. Infelizmente, <strong>você não foi selecionado(a) para essa edição.</strong></p>

    <p>Mas não desanime! Continue participando da nossa comunidade, além de workshops realizamos eventos presenciais e online pelo YouTube. Também fique ligado(a) para os próximos workshops através das nossas redes.</p>
</div>