<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação de Participação no Evento</title>
    <style>
       {{.CSS}}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">
        <h1>Confirmação de Participação no Evento</h1>
      </div>
      <div class="email-body">
        <p>Olá {{ .Data.Nome }}.</p>

        <p>Sua participação no <strong>Workshop de Golang para iniciantes</strong> no dia <strong>06 de agosto</strong> está confirmada! 🎉</p>

        <p>Estamos ansiosos para te ver nesse evento incrível. Então vamos aos avisos:</p>

        <ul>
            <li><strong>Formato:</strong> Presencial</li>
            <li><strong>Horário:</strong> 19:00 às 22:00</li>
            <li><strong>Local:</strong> R. Jaceru, 225 - Vila Gertrudes, São Paulo - SP, 04705-000</li>
        </ul>

        <p><strong>O que você precisa levar:</strong></p>
        <ol>
            <li>Seu notebook</li>
            <li>Instalar a linguagem Go <a href="https://go.dev/" target="_blank">aqui</a></li>
            <li>Ter um editor de código instalado (sugerimos o <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>)</li>
        </ol>

        <p>Qualquer dúvida, responda este e-mail.</p>

        <p><strong>Importante: Acesse o <a href="http://aka.ms/WorkshopGolang" target="_blank">link de inscrição</a> para confirmar sua participação. Não envie este link para outras pessoas.</strong></p>

        <p>Nos vemos lá!</p>
      </div>
      <div class="email-footer">
        <img src="{{.Signature}}" alt="Golang SP" class="signature" />
        <div class="social-icons">
            <a href="https://www.instagram.com/golang_sp/" target="_blank">
                <img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram">
            </a>
            <a href="https://www.meetup.com/pt-BR/golangbr/" target="_blank">
                <img src="https://img.icons8.com/windows/64/FA5252/meetup.png" alt="Meetup">
            </a>
        </div>
        </div>
    </div>
  </body>
</html>
