      <div class="email-footer">
        <img src="{{.Signature}}" alt="Golang SP" class="signature" />
        <div class="social-icons">
          <a href="https://www.instagram.com/golang_sp/" target="_blank">
            <img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram">
          </a>
          <a href="https://www.meetup.com/pt-BR/golangbr/" target="_blank">
            <img src="https://img.icons8.com/windows/64/FA5252/meetup.png" alt="Meetup">
          </a>
          <a href="https://www.youtube.com/channel/UC8r3Z8xGNDlPq7So-4eieIQ" target="_blank">
            <img src="https://img.icons8.com/color/48/000000/youtube-play.png" alt="YouTube">
          </a>
          <a href="https://www.linkedin.com/company/golang-sp" target="_blank">
            <img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn">
          </a>
          <!-- <a href="https://twitter.com/golang_sp" target="_blank">
            <img src="https://img.icons8.com/color/48/000000/twitter--v1.png" alt="Twitter">
          </a> -->
        </div>
      </div>
    </div>
  </body>
</html>