      <div class="email-footer">
        <img src="{{.Signature}}" alt="Golang SP" class="signature" />
        <div class="social-icons">
            <a href="https://www.instagram.com/golang_sp/" target="_blank">
                <img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram">
            </a>
            <a href="https://www.meetup.com/pt-BR/golangbr/" target="_blank">
                <img src="https://img.icons8.com/windows/64/FA5252/meetup.png" alt="Meetup">
            </a>
        </div>
      </div>
    </div> <!-- email-container -->
  </body>
</html>
