body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
    color: #333;
}

.email-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.email-header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #00ADD8 0%, #007D9C 100%); /* Updated gradient colors */
    color: #ffffff;
}

.email-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.email-body {
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    padding: 20px;
    text-align: left;
}

.email-body p {
    margin: 10px 0;
}

.email-body a {
    color: #0073e6;
    text-decoration: none;
}

.email-body a:hover {
    text-decoration: underline;
}

.email-body ol {
    padding-left: 20px;
    margin: 5px 0;
}

.email-body ol li {
    margin: 5px 0;
}

.email-body ul {
    padding-left: 20px;
    margin: 5px 0;
}

.email-body ul li {
    margin: 5px 0;
}

.coupon-container {
    margin: 20px auto; /* Center horizontally */
    text-align: center; /* Center text inside the div */
    width: fit-content; /* Shrink to fit content */
}

.coupon-label {
    font-size: 18px;
    font-weight: bold;
}

.coupon-code {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px dashed #0073e6;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #0073e6;
    margin: 5px 0;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #0073e6;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #005bb5;
}

.email-footer {
    text-align: center;
    padding: 0px 20px 20px;
    font-size: 14px;
    color: #777777;
}

.signature {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.social-icons {
    margin-top: 10px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 32px;
    height: 32px;
}
